
<%= form_with model: [ @venue, @venue.timeslots.build ] do |f| %>
<div class="mb-3 row">
  <%= f.label :day, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-4">
  <%= f.select :day, options_for_select(t('date.day_names').map.with_index { |k, i| [k, i]}) ,class:"form-control" %>
</div>

</div>
<div class="mb-3 row">

  <%= f.label :start_time, class:"col-sm-2 col-form-label" %>
  <div class="col-sm-2">
  <%= f.time_field :start_time, class:"form-control" %>
</div>
</div>
<div class="mb-3 row">
  <%= f.label :end_time, class:"col-sm-2 col-form-label" %>
  <div class="col-sm-2">
  <%= f.time_field :end_time, class:"form-control" %>
</div>
</div>

  
<%= f.submit class:"btn btn-primary" %>
<% end %>