<!DOCTYPE html>
<html>
  <head>
    <title>Venues</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <% if notice %>
      <p class='notice'><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%# flash.each do |type, msg| %>
      <!-- <div class="alert alert-dark" role="alert">-->
      <!-- <p class="mb-0"><%#= msg %></p>-->
      <!-- </div>-->
      <%# end %>
        <div class="container">
          <%= yield %>
        </div>
      </body>
    </html>